<form class="needs-validation" [formGroup]="form" (submit)="submit()" novalidate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-header">
            Customer Contract
          </div>
          <div class="card-body">

            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="Customer">Customer</label>
                <select class="custom-select mr-sm-2" formControlName="Customer" (change)="ContractStyleList($event)">
                  <option selected>Select Customer</option>
                  <option *ngFor="let item of contractCustomer" value="{{item.Customer}}">{{item.Customer}}</option>
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label for="Name">Name</label>
                <input type="text" formControlName="Name" class="form-control" placeholder="Name">
              </div>
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="SentName">Sent By</label>
                <select class="custom-select mr-sm-2" formControlName="SentBy">
                  <option selected>Name</option>
                  <option value="{{item.Name}}" *ngFor="let item of staff">{{item.Name}}</option>
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="Status">Status</label>
                <select class="custom-select mr-sm-2" formControlName="Status">
                  <option selected>Select Status</option>
                  <option value="{{item.Status}}" *ngFor="let item of aStatus">{{item.Description}}</option>
                </select>
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label for="Email">Email</label>
                <input type="text" class="form-control" formControlName="Email" placeholder="Email">
              </div>
              <div class="col-md-3 mb-3">
                <label for="contact">Contact No</label>
                <input type="text" class="form-control" formControlName="ContractNo" placeholder="Contact">
                <div class="valid-feedback">
                  Looks good!
                </div>
              </div>
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="fromdate">From Date</label>
                <input type="text" class="form-control" name="Date_From" formControlName="Date_From" placeholder="From date">
              </div>
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="reviewdate">Review Date</label>
                <input type="text" class="form-control" name="Date_To" formControlName="Date_To" placeholder="Review date">
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <label class="mr-sm-2" for="comments">Comments</label>
                <textarea class="form-control" formControlName="Comments" placeholder="Comments"></textarea>
              </div>
              <div class="col-md-6 mb-3">
                <label class="mr-sm-2" for="Notes">Notes</label>
                <textarea class="form-control" formControlName="Notes" placeholder="notes"></textarea>
              </div>
            </div>
            <div class="card-footer">
              <div class="form-row">
                <div class="col-md-2 mb-3">
                  <select class="custom-select mr-sm-2" formControlName="Style">
                    <option selected>Select Style</option>
                    <option value="{{item.Style}}" *ngFor="let item of contractStyles">{{item.Style}}</option>
                  </select>
                </div>
                <div class="col-md-2 mb-3">
                  <input class="" type="radio" value="">
                  <label class="" >
                    &nbsp;Apply To All
                  </label>
                </div>
                <div class="col-md-2 mb-3">
                  <input class="" type="radio" value="">
                  <label class="" >
                    &nbsp;Standard Size
                  </label>
                </div>
                <div class="col-md-1 mb-3">
                  <input class="form-check-input" formControlName="UpliftApply" type="checkbox" value=""
                    aria-label="...">
                  <label class="mr-sm-2" for="inlineFormCustomSelect">Uplift(0)%</label>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="input-group mb-12">
                    <span class="">Sales Price&nbsp;</span>
                    <input type="text" formControlName="Sales_Price" class="form-control" aria-label="Sales_Price"
                      aria-describedby="Sales_Price">
                    <span class="">&nbsp;(Std :£0:00)</span>
                  </div>
                </div>
                <div class="col-md-1 mb-3">
                  <span class="">A/W Price: (Std : £0:00)</span>
                </div>
                <div class="col-md-1 mb-3">
                  <span class="">Margin:</span>
                </div>
              </div>
              <div class="form-row text-right">
                <div class="col-md-10 mb-3">
                  <input class="form-check-input" type="checkbox" value="" aria-label="..."> Save
                  To Customer B2B Styles
                </div>
                <div class="col-md-2 mb-3">
                  <button class="btn btn-primary" type="button">Apply</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-body">

            <div class="form-row">
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Colour Desc</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Colour Desc</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
              <div class="col-md-3 mb-3">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Fitting</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <option selected>Fitting</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>

            </div>
            <div class="form-row">
              <div class="col-md-2 mb-3"></div>
              <div class="col-md-8 mb-3">
                <table class="table table-border">
                  <thead>
                    <tr>
                      <th scope="col">ST</th>
                      <th scope="col">TC</th>
                      <th scope="col">WEB/AC</th>
                      <th scope="col">AC 01</th>
                      <th scope="col">AC 02</th>
                      <th scope="col">AC 03</th>
                      <th scope="col">AC 04</th>
                      <th scope="col">BL</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <div class="col-md-2 mb-3"></div>
            </div>
            <div class="form-row">
              <div class="col-md-10 mb-3">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Qty1</th>
                      <th scope="col">Desc1</th>
                      <th scope="col">Margin1</th>
                      <th scope="col">Qty2</th>
                      <th scope="col">Desc2</th>
                      <th scope="col">Margin2</th>
                      <th scope="col">Qty3</th>
                      <th scope="col">Desc3</th>
                      <th scope="col">Margin3</th>
                      <th scope="col">Qty4</th>
                      <th scope="col">Desc4</th>
                      <th scope="col">Margin4</th>
                      <th scope="col">Tolerance</th>
                      <th scope="col">#</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <td>Edit</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-1 mb-3">

              </div>
              <div class="col-md-1 mb-3">
                <input class="form-check-input" type="checkbox" id="Bulk_Apply" formControlName="Bulk_Apply"
                  aria-label="...">
                Bulk Apply
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-12 text-right">
                <div class="form-group mx-sm-3">
                  <button type="button" class="btn btn-outline-secondary">Cancel</button>
                  &nbsp;
                  <button type="submit" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>